.input {
  width: 100%;
  accent-color: #6A6DCD;
  border: none;
  outline: none;
}

.input:focus {
  outline: none;
}

.input::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #307FE24D;
  border-radius: 50px;
}

.input:focus::-webkit-slider-runnable-track {
  box-shadow: 1px 1px 10px #307FE2aD;
}

.input::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #6A6DCD;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
